## Association rule mining

Association rule learning is a rule-based machine learning method for discovering interesting relations between variables in large databases. Here variables are Items. Databases are places where historic transactions are stored.

<b>Itemset:</b> A set of items together is called an itemset. An itemset consists of two or more items. 

<b>Frequent Itemset:</b> Itemset that occurs frequently is called a frequent itemset. A set of items is called frequent if it satisfies a minimum threshold value for support and confidence.

<b>Support:</b> Tells us how popular an itemset is, as measured by the proportion of transactions in which an itemset appears. Support shows transactions with items purchased together in a single transaction. Consider 5 transactions are under study and say Milk is purchased in 3 Transactions.

Support for Milk= 3/5

<b>Confidence:</b> Shows transactions where the items are purchased one after the other. How likely item Y is purchased when item X is purchased, expressed as {X -> Y}. Say Milk and Bread are analysed together. Bread is purchased after Milk 2 times.
Confidence (Milk->Bread) = Support for (Milk, Bread)/Support for Milk=2/Support for Milk
Drawback of Confidence is it only accounts for how popular milk is, but not bread which might misrepresent the importance of an association.

<b>Lift:</b> How likely item Y is purchased when item X is purchased, also controlling for how popular item Y is. Say bread was purchased 2 times out of 5 transactions-

Support for Bread=2/5

Lift (Milk->Bread) = Support for (Milk, Bread)/Support for Milk*Support for Bread



### Association rule mining has to:

1) Find all the frequent items.

2) Generate association rules from the above frequent itemset.

![apriori](apriori1.png)

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv("GroceryStoreDataSet.csv",names=["Products"])

In [6]:
df.head()

                        Products
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

In [7]:
data=np.array(df.Products.apply(lambda x:x.split(',')))

In [8]:
data

array([list(['MILK', 'BREAD', 'BISCUIT']),
       list(['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES']),
       list(['BREAD', 'TEA', 'BOURNVITA']),
       list(['JAM', 'MAGGI', 'BREAD', 'MILK']),
       list(['MAGGI', 'TEA', 'BISCUIT']),
       list(['BREAD', 'TEA', 'BOURNVITA']),
       list(['MAGGI', 'TEA', 'CORNFLAKES']),
       list(['MAGGI', 'BREAD', 'TEA', 'BISCUIT']),
       list(['JAM', 'MAGGI', 'BREAD', 'TEA']), list(['BREAD', 'MILK']),
       list(['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES']),
       list(['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES']),
       list(['COFFEE', 'SUGER', 'BOURNVITA']),
       list(['BREAD', 'COFFEE', 'COCK']),
       list(['BREAD', 'SUGER', 'BISCUIT']),
       list(['COFFEE', 'SUGER', 'CORNFLAKES']),
       list(['BREAD', 'SUGER', 'BOURNVITA']),
       list(['BREAD', 'COFFEE', 'SUGER']),
       list(['BREAD', 'COFFEE', 'SUGER']),
       list(['TEA', 'MILK', 'COFFEE', 'CORNFLAKES'])], dtype=object)

In [9]:
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_data = te.fit(data).transform(data)
df = pd.DataFrame(te_data,columns=te.columns_)
df

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True
5,False,True,True,False,False,False,False,False,False,False,True
6,False,False,False,False,False,True,False,True,False,False,True
7,True,False,True,False,False,False,False,True,False,False,True
8,False,False,True,False,False,False,True,True,False,False,True
9,False,False,True,False,False,False,False,False,True,False,False
10,True,False,False,True,True,True,False,False,False,False,False
11,True,False,False,True,True,True,False,False,False,False,False
12,False,True,False,False,True,False,False,False,False,True,False
13,False,False,True,True,True,False,False,False,False,False,False
14,True,False,True,False,False,False,False,False,False,True,False
15,False,False,False,False,True,True,False,False,False,True,False
16,False,True,True,False,False,False,False,False,False,True,False
17,False,False,True,False,True,False,False,False,False,True,False
18,False,False,True,False,True,False,False,False,False,True,False
19,False,False,False,False,True,True,False,False,True,False,True

In [10]:
from mlxtend.frequent_patterns import apriori,association_rules

In [11]:
df1 = apriori(df,min_support=0.1,use_colnames=True)

In [12]:
df1.head(30)

    support               itemsets
0      0.35              (BISCUIT)
1      0.20            (BOURNVITA)
2      0.65                (BREAD)
3      0.15                 (COCK)
4      0.40               (COFFEE)
5      0.30           (CORNFLAKES)
6      0.10                  (JAM)
7      0.25                (MAGGI)
8      0.25                 (MILK)
9      0.30                (SUGER)
10     0.35                  (TEA)
11     0.20       (BISCUIT, BREAD)
12     0.10        (BISCUIT, COCK)
13     0.10      (BISCUIT, COFFEE)
14     0.15  (BISCUIT, CORNFLAKES)
15     0.10       (BISCUIT, MAGGI)
16     0.10        (BISCUIT, MILK)
17     0.10         (BISCUIT, TEA)
18     0.15     (BOURNVITA, BREAD)
19     0.10     (BOURNVITA, SUGER)
20     0.10       (BOURNVITA, TEA)
21     0.15        (COFFEE, BREAD)
22     0.10           (JAM, BREAD)
23     0.15         (MAGGI, BREAD)
24     0.20          (MILK, BREAD)
25     0.20         (BREAD, SUGER)
26     0.20           (TEA, BREAD)
27     0.15         (COCK, COFFEE)
28     0.10     (CORNFLAKES, COCK)
29     0.20   (CORNFLAKES, COFFEE)

In [13]:
df_ar = association_rules(df1, metric = "confidence", min_threshold = 0.5)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BISCUIT),(BREAD),0.35,0.65,0.20,0.571429,0.879121,-0.0275,0.816667
1,(COCK),(BISCUIT),0.15,0.35,0.10,0.666667,1.904762,0.0475,1.950000
2,(CORNFLAKES),(BISCUIT),0.30,0.35,0.15,0.500000,1.428571,0.0450,1.300000
3,(BOURNVITA),(BREAD),0.20,0.65,0.15,0.750000,1.153846,0.0200,1.400000
4,(BOURNVITA),(SUGER),0.20,0.30,0.10,0.500000,1.666667,0.0400,1.400000
...,...,...,...,...,...,...,...,...,...
61,"(BISCUIT, COFFEE)","(CORNFLAKES, COCK)",0.10,0.10,0.10,1.000000,10.000000,0.0900,inf
62,"(CORNFLAKES, COCK)","(BISCUIT, COFFEE)",0.10,0.10,0.10,1.000000,10.000000,0.0900,inf
63,"(CORNFLAKES, COFFEE)","(BISCUIT, COCK)",0.20,0.10,0.10,0.500000,5.000000,0.0800,1.800000
64,"(COCK, COFFEE)","(BISCUIT, CORNFLAKES)",0.15,0.15,0.10,0.666667,4.444444,0.0775,2.550000
65,(COCK),"(BISCUIT, CORNFLAKES, COFFEE)",0.15,0.10,0.10,0.666667,6.666667,0.0850,2.700000

# Frequent Pattern Growth Algorithm

FP growth algorithm represents the database in the form of a tree called a frequent pattern tree or FP tree.

### FP Tree
Frequent Pattern Tree is a tree-like structure that is made with the initial itemsets of the database. The purpose of the FP tree is to mine the most frequent pattern. Each node of the FP tree represents an item of the itemset.

The root node represents null while the lower nodes represent the itemsets. The association of the nodes with the lower nodes that is the itemsets with the other itemsets are maintained while forming the tree.

#### Steps for FP Tree

1) The first step is to scan the database to find the occurrences of the itemsets in the database. This step is the same as the first step of Apriori. The count of 1-itemsets in the database is called support count or frequency of 1-itemset.

2) The second step is to construct the FP tree. For this, create the root of the tree. The root is represented by null.

3) The next step is to scan the database again and examine the transactions. Examine the first transaction and find out the itemset in it. The itemset with the max count is taken at the top, the next itemset with lower count and so on. It means that the branch of the tree is constructed with transaction itemsets in descending order of count.

4) The next transaction in the database is examined. The itemsets are ordered in descending order of count. If any itemset of this transaction is already present in another branch (for example in the 1st transaction), then this transaction branch would share a common prefix to the root.

5) Also, the count of the itemset is incremented as it occurs in the transactions. Both the common node and new node count is increased by 1 as they are created and linked according to transactions.

![fptree](apriori3.png)

6) The next step is to mine the created FP Tree. For this, the lowest node is examined first along with the links of the lowest nodes. The lowest node represents the frequency pattern length 1. From this, traverse the path in the FP Tree. This path or paths are called a conditional pattern base.

7) Construct a Conditional FP Tree, which is formed by a count of itemsets in the path. The itemsets meeting the threshold support are considered in the Conditional FP Tree.

8) Frequent Patterns are generated from the Conditional FP Tree.

In [1]:
from mlxtend.frequent_patterns import fpgrowth

In [14]:
frequentItemsets=fpgrowth(df, min_support=0.02, use_colnames=True)

In [15]:
frequentItemsets

    support                 itemsets
0      0.65                  (BREAD)
1      0.35                (BISCUIT)
2      0.25                   (MILK)
3      0.30             (CORNFLAKES)
4      0.35                    (TEA)
..      ...                      ...
78     0.20          (COFFEE, SUGER)
79     0.20           (BREAD, SUGER)
80     0.05         (BISCUIT, SUGER)
81     0.10   (BREAD, SUGER, COFFEE)
82     0.05  (BISCUIT, BREAD, SUGER)

[83 rows x 2 columns]

In [16]:
df_fp = association_rules(frequentItemsets, metric = "confidence", min_threshold = 0.5)
df_fp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BISCUIT),(BREAD),0.35,0.65,0.20,0.571429,0.879121,-0.0275,0.816667
1,"(BISCUIT, TEA)",(BREAD),0.10,0.65,0.05,0.500000,0.769231,-0.0150,0.700000
2,(MILK),(BREAD),0.25,0.65,0.20,0.800000,1.230769,0.0375,1.750000
3,"(BISCUIT, MILK)",(BREAD),0.10,0.65,0.10,1.000000,1.538462,0.0350,inf
4,"(BISCUIT, BREAD)",(MILK),0.20,0.25,0.10,0.500000,2.000000,0.0500,1.500000
...,...,...,...,...,...,...,...,...,...
141,(SUGER),(BREAD),0.30,0.65,0.20,0.666667,1.025641,0.0050,1.050000
142,"(SUGER, BREAD)",(COFFEE),0.20,0.40,0.10,0.500000,1.250000,0.0200,1.200000
143,"(COFFEE, BREAD)",(SUGER),0.15,0.30,0.10,0.666667,2.222222,0.0550,2.100000
144,"(COFFEE, SUGER)",(BREAD),0.20,0.65,0.10,0.500000,0.769231,-0.0300,0.700000
145,"(BISCUIT, SUGER)",(BREAD),0.05,0.65,0.05,1.000000,1.538462,0.0175,inf